@import url("navigation.css");
@import url("register.css");
@import url("login.css");
@import url("footer.css");
@import url("subject.css");
@import url("lectures.css");
@import url("profile.css");

:root {
    --main-blue: #128545;
    --main-red: #086020;
}
body {
    font-family: 'Palanquin', sans-serif;
    background-color: #f9f9f9;
    height: 100%;
}

h1 {
    color: var(--main-blue);
    font-weight: bold;
    font-size: 36px;
    text-align: center;
}

h2 {
    color: var(--main-blue);
    font-size: 28px;
    text-align: center;
}

h3 {
    color: var(--main-blue);
    font-size: 18px;
}

.form-alert {
    width: 100%;
    color: white;
    background-color: #ee3030;
    text-align: center;
    font-size: 14px;
    padding: 5px 0;
    margin-top: 10px;
}

.btn-color-full  {
    width:100%;
    margin:0;
    background-color: var(--main-blue);
    color: white;
    font-size: 18px;
    padding: 5px 0 8px 0;
    border: none;
    display: block;
    cursor: pointer;
    -webkit-transition: background-color 400ms; /* Safari */
    transition: background-color 400ms;
}

.btn-color-full:hover {
    background-color: var(--main-red);
}

.btn-nocolor-full  {
    width:100%;
    margin:0;
    border: 2px solid var(--main-blue);
    background-color: #f9f9f9;
    color: var(--main-blue);
    font-size: 18px;
    padding: 5px 0 8px 0;
    display: block;
    cursor: pointer;
    -webkit-transition: background-color 400ms, color 400ms; /* Safari */
    transition: background-color 400ms color, 400ms;
}

.btn-color-full-small  {
    width:100%;
    margin:0;
    background-color: var(--main-blue);
    color: white;
    font-size: 14px;
    padding: 5px 0;
    border: none;
    display: block;
    cursor: pointer;
    -webkit-transition: background-color 400ms; /* Safari */
    transition: background-color 400ms;
}

.btn-color-full-small:disabled {
    background-color: #a5a5a5;
}

.btn-color-full-small:disabled:hover {
    background-color: #a5a5a5;
}

.btn-color-full-small:hover {
    background-color: var(--main-red);
}



.btn-nocolor-full:hover {
    background-color: var(--main-blue);
    color: white;
}

.main-modal-info input[type=text], [type=number], [type=time]{
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: none;
    border-bottom: 2px var(--main-blue) solid;
    padding: 0 20px;
    color: var(--main-blue);
    font-size: 18px;
    margin-bottom: 25px;
}

.main-modal-info select{
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: none;
    border-bottom: 2px var(--main-blue) solid;
    padding: 0 20px;
    color: var(--main-blue);
    font-size: 18px;
    margin-bottom: 25px;
}

.main-modal-info-box {
    background-color: #f9f9f9;
    border: 1px #d8d8d8 solid;
    border-radius: 5px;
    font-size: 15px;
    color: #353535;
    padding: 5px 0;
}

.main-modal-info-box p {
    margin: 3px 0;
    text-align: center;
}