.newSubject-form input[type=text], [type=number], [type=time]{
    width: 100%;
    height: 40px;
    background-color: #f9f9f9;
    border: none;
    border-bottom: 2px var(--main-blue) solid;
    padding: 0 20px;
    color: var(--main-blue);
    font-size: 18px;
    margin-bottom: 25px;
}

.newSubject-form select{
    width: 100%;
    height: 40px;
    background-color: #f9f9f9;
    border: none;
    border-bottom: 2px var(--main-blue) solid;
    padding: 0 20px;
    color: var(--main-blue);
    font-size: 18px;
    margin-bottom: 25px;
}

.subjects-header {
    background-color: var(--main-blue);
    color: white;
    font-size: 15px;
    padding: 5px 0 5px 0;
    font-weight: bold;
}

.subjects-child {
    color: #252525;
    padding: 7px 5px;
    border-bottom: #e5e5e5 1px solid;
    font-size: 15px;
    line-height: 28px;
}

.subjects-child:hover {
    background-color: #f0f0f0;
}

.subjects-child i {
    padding: 0;
    margin: 5px 5px 6px 6px;
}

.subjects-child button {
    display: inline-block;
    margin: 0;
    padding: 0;
}